

<nav class="navbar navbar-expand fixed-bottom bg-body-tertiary py-1 border-top border-2" th:fragment="bottomNav">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/main.do">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">미니게임</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="${session.user != null} ? '/user/mypage.do' : '/user/login.do'">
            내정보
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar fixed-top py-1 bg-success p-2 text-white bg-opacity-75" th:fragment="topNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img th:src="@{/img/Apple_logo_black.svg}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      승엽사이트
    </a>
  </div>
</nav>